h1 {
    font-size: 300%;
}

h2 {
    font-size: 200%;
    margin-bottom: 1em;
}

p {
    text-align: left;
    margin: 1em 20em;
    font-size: 150%;
    color: white;
}

.profile-image {
    max-width: 400px;
    margin: 2em auto;
    border: 3px solid navy;
    border-radius: 10px;
}

.description-title {
    text-decoration: none;
}

.slideshow-container {
    max-width: 800px;
    position: relative;
    margin: 2em auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

.mySlides img {
    border: 3px ridge navy;
    border-radius: 30px;
    max-width: 800px;
    max-height: 800px;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@media (max-width: 1750px) {
    p {
        text-align: center;
        font-size: 100%;
        margin: 1em 10em;
    }
}